.search-form{
    display: flex;
   
}

.search-inp{ 
    width: 300px;
    height: 48px;
    text-align: center;
    border: none;
    box-shadow:   0px 3px 6px rgba(0, 0, 0, 0.15);
    

}

.btn_search{
    width:150px;
    height: 48px;
    border: none;
    color: white;
    background: #D93F3F;
    
}

@media (max-width:1024px){

.search-inp{
    width: 200px;
}
.btn_search{
    width: 100px;
}




}
